.row-positive{
    background-color: rgba(158, 236, 136, 0.5) !important;
}
.row-positive:hover{
    background-color: rgba(158, 236, 136, 0.8) !important;
}

.row-negative{
    background-color: rgba(215, 57, 61, 0.5) !important;
}
.row-negative:hover{
    background-color: rgba(215, 57, 61, 0.8) !important;
}


.loader-spin {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
